li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

.row {
  margin-top: 40px;
}

.container {
  margin-top: 40px;
  font-family: 'Text Me One', sans-serif;
}

.header {
  margin-top: 20px;
  font-family: 'Text Me One', sans-serif;
}

.body {
  background-color: black
}